body {
    font-family: 'Open Sans', sans-serif;
  }
  
  .container {
    height: 100vh;
  }
  
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  
  .card-title,
  .card-text,
  .text-center {
    color: #887C68;
  }
  .card-title{

      margin: 15px;    
  }

  .card-title-container{
        background-color: #F8F8F8;    
  }


  .card-text-container {
    height: 160px; 
    overflow: hidden;
    justify-content: center;
  }
  


.card-text{
    font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
overflow: hidden; 
text-overflow: ellipsis;
}

.card {
    box-shadow:  0 20px 40px rgba(47, 45, 45, 0.2);
    border: none; 
    overflow: hidden;
  }



  /* YourComponent.css */

.carousel-container {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    padding: 20px; /* Adjust as needed for spacing */
  }
  
  .carousel {
    display: flex;
  }
  
  .carousel-item {
    flex: 0 0 auto;
    width: 300px; /* Adjust as needed for image width */
    height: auto; /* Adjust as needed for image height */
    margin-right: 10px; /* Adjust as needed for spacing between images */
  }
  
